@charset "UTF-8" ;


/* <リセットCSSここから> */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* <リセットCSSここまで> */


/* <レイアウトここから> */

body{
  background:url(images/bg.png);
  border-top:5px solid #345c39;
  font-family: "メイリオ", Meiryo;
}

div#wrapper{
  width: 960px;
  margin: 0 auto;
}

.box-shadow{
  box-shadow: 0 2px 7px rgba(83,78,61,0.3);
}

/* <ヘッダー用> */
header{
  width: 960px;
  height: 49px;
  padding:20px 0;
  position: relative;
}

header h1{
  font-size: 12px;
  color: #555555;
  background: url(images/logo.png) no-repeat;
  padding-left: 51px;
  line-height: 1;
  height: 49px;
  float: left;
}

header h1 span{
  color: #734339;
  font-size:33px;
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
}

header nav{
  float: right;
  margin-top:39px;
}

header nav ul li{
  float: left;
  margin-left: 29px;
}

header nav ul li:hover{
  background: url(images/navbar.png) no-repeat center bottom;
  display: inline-block;
  height: 36px;
}

header nav ul li a {
  font-size: 16px;
  color: #734339;
  font-weight: bold;
  text-decoration: none;
  height: 26px;
  display:  inline-block;
}

header nav ul li:hover a {
  color: #345c39;
  border-bottom: 4px solid #345c39
}

div.clear{
  color: both;
}

header p#nav_tel{
  position: absolute;
  top: 0px;
  right: 0px;
}

/* <メイン画像用> */


div#mainimage{
  width: 950px;
  height: 290px;
  margin: 20px 0 20px 0;
  border:5px solid white;
}

/* <レフト用> */
div#left{
  width: 555px;
  height: auto;
  background-color: #ffffff;
  float: left;
  margin: 0 25px 0 0;
  padding: 10px;
}

div#left h2,
div#left h3{
  font-size: 17px;
  font-weight: bold;
  color: #734339;
  border-left:5px solid #ba3009;
  padding-left: 10px;
}



div#left dl{
  margin-top: 11px;
}

div#left dl dt{
  font-size: 15px;
  font-weight: normal;
  color: #734339;
  margin-bottom: 12px;
}

div#left dl dd{
  font-size: 13px;
  font-weight: normal;
  color: #927e7a;
  margin-left: 10px;
  margin-bottom: 20px;
  line-height: 20px; 
}





div#left ul{
  overflow: scroll;
  width: 555px;
  height: 145px;
}

div#left ul li{
  font-size: 13px;
  font-weight: normal;
  color: #927e7a;
  border-bottom:1px dotted #d0d0d0;
  line-height: 32px;
}

div#left ul li span{
  font-size: 12px;
  font-weight: normal;
  color: #b5b5b5;
  margin-right: 15px;
}

/* <ライト用> */
div#right{
  width: 360px;
  height: 198px;
  float: left;

}

div#right ul li{
  line-height: 60px;
  margin-bottom: 20px;
}

div#right ul li a{
  width: 217px;
  height: 60px;
  display: block;
  font-size: 17px;
  font-weight: bold;
  color: #734339;
  text-decoration: none;
  padding-left:140px;

}


div#right ul li a#contact{
  background:url(images/contact.jpg);
}

div#right ul li a#blog{
  background:url(images/blog.jpg);
  }

div.clear{
  clear: both;
}

/* <フッター用> */
footer{
  width: 100%;
  height: 58px;
  background-color: #345c39;
  margin-top: 20px;
}

footer p{
  text-align: center;
  color: #ffffff;
  line-height: 58px;
}



/* <メニュー一覧> */
h2#heading{
  background: url(images/title.jpg);
  width: 925px;
  height: 70px;
  border: solid 5px #ffffff;
  margin-bottom: 20px;
  font-size: 27px;
  color: #2f5734;
  line-height: 70px;
  font-weight: bold;
  padding-left: 23px;
}

/* <コンタクトページ> */
p#contact_text{
  color: #927e7a;
  font-size: 12px;
  line-height: 18px;
  background-color: #ffefea;
  padding: 10px 10px 10px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

td.form_titel{
  width: 131px;
  height: 32px;
  font-size: 15px;
  color: #734339;
  vertical-align: top;
}

td.form_titel label{
  font-weight: bold;
}

td.form_contents input#form_name,
td.form_contents input#form_tel {
  width: 421px;
  height: 22px;
}

td.form_contents{
  font-size: 13px;
  color: #a6a6a6;
}

td.form_contents input.form_time{
  width: 47px;
  height: 22px;
  margin-right: 5px;
  display: inline-block;
}

td.form_contents textarea{
  width: 421px;
  height: 83px;
  border: #a6a6a6 1px solid;
}

p#submit{
  text-align: right;
}

p#submit input{
 background-color: #325a37;
 border: none;
 font-size: 18px;
 color:white;
 font-weight: bold;
 width: 136px;
 height: 40px;
}

p#submit input:hover{
  cursor: pointer;
  opacity: 0.8;
}